* {
    font-family: 'Montserrat', sans-serif;

}
@media only screen and (max-width: 500px) {
	header.header{
	display: grid;
	grid-template-columns: 50% 50%;
    grid-auto-rows: 100%;
	align-items: center;
	background-color: white; 
	height: 13vw;
	padding: 1%;
	z-index: 30;
    }
    h1 {
        font-size: 10vw;
    	margin: 0;
    	width: auto;
	    height: auto;
    }
    .header__botones{
    	display: grid;
    	grid-template-columns: auto auto;
    	justify-content: end;

    }
    .header__logo {
    	display: grid;
        height: 4,3%;
    }
    
    .header__boton-menu, .header__boton-carrito{
    	width: 7vw;
	    background-color: white; 
        margin-right: .3em;
    }
    .header__boton-carrito img, .header__boton-menu img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .principal {
	background-color: black; 
	width: 100%;
	height: 80%;
	z-index: 10;
	color: white; 

    }
    .productos-destacados, .seccion-catalogo{
        display: grid;
        min-height: 5%;
        align-items: center;
        justify-content: center;
    }
    .portada-1{
    	display: grid;
    	grid-template-rows: 8vh 55vh 35vw;
    	padding: 3vw;
    	background-color: #a0aed7;
    	width: 100%;
    	height: 91%;
    }
    .portada-1__seccion-1{
    	display: grid;
    	align-items: center;
    	text-align: center;
    	
    }
    .portada-1__seccion-2__imagen-celular {
        display: grid;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #f3f3f3;
    }
    .portada-1__seccion-3{

    display: grid;
    padding: 5px;
    grid-template-rows: auto auto auto;
    } 
    .portada-1__seccion-3__botoncomprar {
    	display: grid;
    	align-items: center;
    	justify-content: center;
    }
    .portada-1__seccion-3__botoncomprar div {
    	display: grid;
    	height: 47px;
    	width: 126px;
    	align-items: center;
    	background-color: black;
    	color: white;
    	text-align: center;
    	background-color: black;
    	border-radius:12.5vw;

    }
    .portada-1__seccion-3-precio {
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .portada-1__seccion-3__caracteristicas {
        display: grid;
        text-align: center;
        align-items: center;
        padding: 10px;

    }
    .portada-1__seccion-3__caracteristicas h3 {
        display: inline;
        text-decoration: underline;
        z-index: 10;
        position: relative;
    }
    select {
        width: 120px;
        position: absolute;
        appearance: none;
        opacity: 0;
        border-color: none;
        z-index: 20;
    }
    optgroup {
        width: 100%;
        background-color: #ca4e4e;
        color: black;
    }
    .catalogo {
        display: grid;
        align-items: center;
        width: 100%;
        height: 90%;
    }
    .encabezado-seccion-catalogo{
        padding: 20px;
        display: grid;
        align-items: center;
        justify-content: center;
        height: 10%;
    }
    .catalogo__imagen-con-boton {
        display: grid;
        align-items: center;
        min-height: 35%;
        justify-content: center;
    }
    .catalogo__imagen-con-boton img {
        object-fit: cover;
        z-index: 50;
        position: relative;

    }

  /*  .catalogo__imagen {
        display: grid;
  
    
    /*
    background-color: red;
    width:100%;
    height: 40%;
    justify-content: center;
    border-radius: 0px;
    padding: 0px;
    border: none;
    color: #fff;
        
        
    }*/
    .catalogo__boton-contenedor {
        display: grid;
        grid-template-rows: 100%;
        align-items: center;
        justify-content: center;
        position: inherit;
        z-index: 60;
        padding: 5%;

    }
    .catalogo__boton {

        display: grid;
        height: 47px;
        width: 126px;
        align-items: center;
        color: white;
        text-align: center;
        background-color: black;
        border-radius:12.5vw;
        justify-content: center;
        position: absolute;
        z-index: 60;
        margin: 52% 35% 5% 35%;


    }
    .catalogo__imagen {

        background-color: red;
        width: 100%;
        height: 100%;
    }
    footer {
        display: grid;
        grid-template-rows: 10% 18% 33% 38%;
        height: 100vh;
        justify-content: center;
        text-align: center;
    }
    .footer-titulo {

        display: grid;
        text-align: center;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
    .footer-icono-contenedor, .footer-logo-universidad-contenedor {
        display: grid;
        justify-content: center;
        align-items: center;
        
    }

    .footer-icono {
        width: 20vw;
    }
    .footer-texto {
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 4%;
    }
    .footer-logo-universidad {
        width: 30vw;
    }

       
}
