* {
    font-family: 'Montserrat', sans-serif;
}

header nav .header-responsive{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 100%;
  align-items: center;
  background-color: white; 
  height: 10vh;
  padding: 1%;
  z-index: 30;
    }
  header nav .header-responsive .header__botones{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: end;

  }
  header nav .header-responsive .header__logo {
    display: grid;
    max-width: 205px;
  }
    
  .header__boton-carrito{
    width: 13vw;
    max-width: 75px;
    background-color: white; 
      margin-right: .3em;
  }
  .header__boton-carrito img{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  .slide {
  position: absolute;
  background: var(--mainWhite);
  top: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  width: 0;
  width: 40wv;
  height: 40vh;
  z-index: 30;
  margin-top: 10vh;
  background-color: darkred;
  }
  .show-slide {
  width: 18rem;
  padding: 2rem 1.5rem;
  transform: rotateY(-360deg);
}
  
@media only screen and (max-width: 575px) {
  .marca {
    display: grid;
    padding: .5vh;
    width: 100%;
    min-height: 3vh;
    top: .00000000001px;
    opacity: .93;
    align-items: center;
    justify-content: center;
    background-color: #e8d4ca;
    }
  .marca__logo {
    height: 5vh;
    padding: 5px;
  }
    .marca__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;

  }
  .contenedor-catalogo {
    position: absolute;
    width: 100vw;

  }
  .contenedor-productos-samsung, .contenedor-productos-apple, .contenedor-productos-huawei{
  display: grid;
  padding: 2vh 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 1rem;
  }
  .portada-articulo{ 
    display: grid;
    grid-template-rows: 3vh 18vh 4vh 4vh;
    justify-content: center;
    background-color: #f7ebeb;
     min-height: 30vh;

    padding-top: 1vh;

  }
  .imagen-articulo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .precio {
    height: 18px;
  }
  .portada-articulo__nombre-celular h3 {
    font-size: 1.6vh;
    font-weight: bold; 
    justify-content: center;
    display: grid;
    align-items: center;
  }
  .imagen-articulo {
    width: 100%;
    height: 100%;
  }

  .precio-y-boton {
    display: grid;
    grid-template-columns: auto auto ;
    justify-content: space-between;
    align-items: center;
    padding: .5vh 1vw;
  }
  .boton-comprar {
    width: 4vw;
  }
  .portada-1__seccion-3{

    display: grid;
    padding: 5px;
    grid-template-rows: auto auto auto;
  } 
  .portada-1__seccion-3__caracteristicas-desplegable {
    align-items: center;
  }
  .portada-1__seccion-3__caracteristicas {
    display: grid;
    text-align: center;
    align-items: center;
      }
    .portada-1__seccion-3__caracteristicas h3 {
        display: inline;
        text-decoration: underline;
        z-index: 10;
        position: relative;
    }
    select {
        width: 26vw;
        position: absolute;
        appearance: none;
        opacity: 0;
        border-color: none;
        z-index: 20;
    }
    optgroup {
        width: 100%;
        
        color: black;
    }

}
@media only screen and (min-width: 575px) {

  
    .marca {
    display: grid;
    padding: .5vh;
    width: 100%;
    min-height: 3vh;
    top: .00000000001px;
    opacity: .93;
    align-items: center;
    justify-content: center;
    background-color: #e8d4ca;
    }
  .marca__logo {
    height: 5vh;
    padding: 5px;
  }
    .marca__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;

  }
  .contenedor-catalogo {
    position: absolute;
    width: 100vw;

  }
  .contenedor-productos-samsung, .contenedor-productos-apple, .contenedor-productos-huawei{
  display: grid;
  padding: 2vh 0;
  grid-template-columns: repeat(2, 2fr);
  gap: 1rem 1rem;
  }
  .portada-articulo{ 
    display: grid;
    grid-template-rows: 7vh 50vh 11vh 8vh;
    justify-content: center;
    background-color: #f7ebeb;
    min-height: 80vh;
    padding-top: 1vh;

  }
  .portada-articulo__nombre-celular h3 {
    font-size: 3.5vh;
    font-weight: bold; 
    justify-content: center;
    display: grid;
    align-items: center;
  }
  .imagen-articulo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .precio {
    display: grid;
    align-items:center;
    height: 6vh;
    font-size: 1.5em
  }

  .imagen-articulo {
    width: 34vw;
    height: 100%;
  }

  .precio-y-boton {
    display: grid;
    grid-template-columns: auto auto ;
    justify-content: space-between;
    padding: 2vh 1vw;
    align-items: center;
  }
  .boton-comprar {
    width: 32px;
  }
  .portada-1__seccion-3{

    display: grid;
    padding: 5px;
    grid-template-rows: auto auto auto;
  } 
  .portada-1__seccion-3__caracteristicas-desplegable {
    align-items: center;
  }
  .portada-1__seccion-3__caracteristicas {
    display: grid;
    text-align: center;
    align-items: center;
    padding: 5px;
      }
    .portada-1__seccion-3__caracteristicas h3 {
        display: inline;
        text-decoration: underline;
        z-index: 10;
        position: relative;
    }
    select {
        width: 26vw;
        position: absolute;
        appearance: none;
        opacity: 0;
        border-color: none;
        z-index: 20;
    }
    optgroup {
        width: 100%;
        
        color: black;
    }
}
